<?php
return array(
    
    'db' => array(
        'driver' => 'Pdo_Mysql', 
        'host' => 'localhost', 
        'dbname' => 'authz_ws', 
        'username' => 'authzadmin', 
        'password' => 'xxx'
    ),

    'logger' => array(
        'writers' => array(
            'stream' => array(
                'name' => 'stream', 
                'options' => array(
                    'stream' => 'var/log/php-authz-ws/authz.log'
                ), 
                'filters' => array(
                    'priority' => \Zend\Log\Logger::DEBUG
                )
            )
        )
    ), 
    
    'acl_filter_definitions' => array(
        
        'resource_id' => array(
            'validators' => array(
                'regex' => array(
                    'name' => 'regex', 
                    'options' => array(
                        'pattern' => '/^prefix:[\w\.]+:[\w]+:[\d]+$/'
                    )
                )
            )
        )
    )
);